[tool.poetry]
name = "innohassle-parsers"
version = "0.1.0"
description = ""
authors = ["Ruslan Bel'kov <ruslan.belckov@yandex.ru>"]
readme = "schedule/README.md"

[tool.poetry.dependencies]
python = "~3.11"
google-api-python-client = "^2.73.0"
google-auth-httplib2 = "^0.1.0"
google-auth-oauthlib = "^1.0.0"
pandas = {extras = ["openpyxl"], version = "^2.0.3"}
pydantic = "^1.10"
icalendar = "^5.0.4"
google = {extras = ["auth"], version = "^3.0.0"}
aiohttp = "^3.9.4"
openpyxl = "^3.1.2"

[tool.poetry.group.dev.dependencies]
black = "^24.3.0"

